<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0d7eaabc-29c2-42a1-aef7-9229f06ba0c8/resourceGroups/backendRecycle20220305115506ResourceGroup/providers/Microsoft.Web/sites/backendRecycle20220305115506</ResourceId>
    <ResourceGroup>backendRecycle20220305115506ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/0d7eaabc-29c2-42a1-aef7-9229f06ba0c8/resourceGroups/backendRecycle20220305115506ResourceGroup/providers/Microsoft.ApiManagement/service/backendRecycleapi/apis/backendRecycle</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://backendrecycle20220305115506.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c2de672e-00fa-4888-ac9a-4eed5029d5a1</ProjectGuid>
    <MSDeployServiceURL>backendrecycle20220305115506.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>backendRecycle20220305115506</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$backendRecycle20220305115506</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>